@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/main_flexible.css")'>
        <script src='@routes.Assets.at("javascripts/facebook.js")'></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src='@routes.Assets.at("javascripts/google.js")'></script>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="378299710386-a8ct99b1frlgeo76l6iokefackr3mbd6.apps.googleusercontent.com">
    </head>
    <body>
        <div id="big_wrapper">
            <header id="top_header">
                <h1>@title</h1>
            </header>
            <nav id="top_menu">
                <ul>
                    <li>
                        <a href='@routes.Application.login()'>Login</a>
                    </li>
                    <li>
                        <a href='@routes.Application.index()'>Home</a>
                    </li>
                    <li>
                        <a href='@routes.Application.rooms()'>Play game</a>
                    </li>
                    <li>
                        <a href='@routes.Application.about()'>About us</a>
                    </li>
                </ul>
                <div id="social_login">
                    <ul>
                        <li>
                                <!--fb button	--> <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                        </li>
                        <li>
                                <!--google button--><div class="g-signin2" data-onsuccess="onSignIn" data-height="25"></div>
                        </li>
                        <li>
                            <button>ID-card</button>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="main_div">
            @content
            </div>
            <footer id="the_footer">
                Paint'n'Guess team 2016
                <p><a href='@routes.Application.about()'>About us</a></p>
            </footer>
        </div>
    </body>
</html>