@templates.main("About Paint'n'Guess team"){
    <section id="main_section">
        <h2>Hello!</h2>
        <p>
            This is a <strong>prototype</strong> of a web application that will cause a big load
            of stress and sleepless nights to three students of University of Tartu.
        </p>
        <p>
            This text you see on thy screen is just a description of a faint
            shadow of what this application will become.
        </p>
        <p>
            Hopefully, that is.
        </p>
    </section>
}