
    @templates.simple_main("Welcome to Paint'n'Guess") {

        <section id="main_section">
            <article>
                <p>In this game you are going to join other persons to play our remarkable game!</p>
                <p>When you are registered, logged in and entered gaming room, you will see the painter and the chat.</p>
                <p><b>To use the chat</b>, you should click on painter and then press TAB on your keyboard (maybe even several times).</p>
                <p>After that you can start talking and painting.</p>
                <p><b>To clean your painter</b>, you have to double click. It cleans only yours painter.</p>
                <img src="@routes.Assets.at("images/demo.png")">
            </article>
        </section>

    }