
    @templates.simple_main("Welcome to Paint'n'Guess") {

        <section id="main_section">
            <article>
                <h1>Timer</h1>
                <h2>1:00</h2>
                <ul>
                    <li>spaceship</li>
                    <li>chicken</li>
                    <li>lightsaber</li>
                    <li>lasagna</li>
                    <li>potato</li>
                    <li>rubber duck debugging</li>
                    <li>avocado</li>
                </ul>
            </article>
            <div id="guessing_buttons">
                <button class="skip_button">Skip</button>
                <button class="correct_button">Correct</button>
            </div>
        </section>

    }