@(form: Form[Application.Login], players: List[Player], playerForm: Form[Player])

@templates.simple_main("Log in Paint'n'Guess"){
    <section id="main_section">
        <h2>Log in or register</h2>
        <article>
        @helper.form(routes.Application.authenticate) {
            <h2>Sign in</h2>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
            @if(flash.contains("success")) {
                <p class="success">
                @flash.get("success")
                </p>
            }
            <p>
                <label for="name1">Name:</label>
                <input type="text" id="name1" name="name" placeholder="Name" value="@form("name").value">
            </p>
            <p>
                <label for="pass1">Password:</label>
                <input type="password" id="pass1" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
        }
        </article>
        <article>
        @helper.form(routes.Application.newPlayer()) {
            <h2>Registration</h2>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
            <p>
                <label for="name2">Name:</label>
                <input type="text" id="name2" name="name" placeholder="Name" value="@form("name").value">
            </p>
            <p>
                <label for="pass2">Password:</label>
                <input type="password" id="pass2" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Sign up</button>
            </p>
        }
        </article>
    </section>
}