@(form: Form[Application.Login], players: List[Player], playerForm: Form[Player])

@templates.main("Log in Paint'n'Guess"){
    <section id="main_section">
        <article>
        @helper.form(routes.Application.authenticate) {
            <h1>Sign in</h1>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
            @if(flash.contains("success")) {
                <p class="success">
                @flash.get("success")
                </p>
            }
            <p>
                <input type="name" name="name" placeholder="Name" value="@form("name").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
        }
        </article>
        <article>
        @helper.form(routes.Application.newPlayer()) {
            <h1>Registration</h1>
            @if(form.hasGlobalErrors) {
                <p class="error">
                @form.globalError.message
                </p>
            }
            <p>
                <input type="name" name="name" placeholder="Name" value="@form("name").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
                <button type="submit">Sign up</button>
            </p>
        }
        </article>
    </section>
}