
    @main("PnG donation", "Please donate to help us develope this game") {

		<p><strong>Perks of donating</strong></p>
		<p>There are none, yet.</p>
		<p>Links(under developement)</p>
		<article>
			<a href="http://www.reactionface.info/sites/default/files/images/1287666826226.png">
				<h2>Swedbank</h2></a>
		</article>
		<article>
			<a href="http://www.reactionface.info/sites/default/files/images/1287666826226.png">
				<h2>PayPal</h2></a>
		</article>
		<article>
			<a href="http://www.reactionface.info/sites/default/files/images/1287666826226.png">
				<h2>ALFAcashier</h2></a>
		</article>

	}