<!DOCTYPE html>
<html lang="en">
    <head>
        <link type = "text/css" rel = "stylesheet" href = '@routes.Assets.at("stylesheets/main_flexible.css")'>
        <meta charset = "UTF-8">
        <title>Paint'n'Guess</title>
        <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    </head>
    <body>
        <div id="big_wrapper">
            <header id="top_header">
                <h1>Timer: 1:00</h1>
            </header>
            <nav id="top_menu">
                <ul>
                    <li>
                        <a href='@routes.Application.index()'>Home page</a>
                    </li>
                    <li>
                        <a href='@routes.Application.aboutUs()'>About us</a>
                    </li>
                    <li>
                        <a href='@routes.Application.donate()'>Donate</a>
                    </li>
                    <li>
                        <a href='@routes.Application.mode()'>Quit game</a>
                    </li>
                </ul>
                <div id="social_login">
                    <ul>
                        <li>
                            <form method="GET" action='@routes.Application.logout()'>
                                <button>Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div id="words">
                    <ul>
                        <li>spaceship</li>
                        <li>chicken</li>
                        <li>lightsaber</li>
                        <li>lasagna</li>
                        <li>potato</li>
                        <li>rubber duck debugging</li>
                        <li>avocado</li>
                    </ul>
                </div>
            </nav>
            <div id="main_div">
                <section id="main_section">
                    <article>
                        <div id="game">
                            <canvas id="field" width="800" height="400"></canvas>
                            <div id="viewport">
                                <canvas id="me" width="500" height="400"></canvas>
                                <canvas id="positions" width="500" height="400"></canvas>
                                <canvas id="draws" width="500" height="400"></canvas>
                                <canvas id="controls" width="500" height="50"></canvas>
                            </div>
                            <div id="chat">
                                <canvas id="chat_window" width="300" height="400"></canvas>
                                <script>
                                    var canvas = document.getElementById("chat_window");
                                    var ctx = canvas.getContext("2d");
                                    ctx.fillStyle = "LightGreen";
                                    ctx.fillRect(0, 0, 295, 400);
                                </script>
                            </div>
                        </div>
                    </article>
                    <div id="guessing_buttons">
                        <form method="GET" id="specialButton" action='@routes.Application.drawingGame()'>
                            <button class="skip_button">Skip</button>
                        </form>
                        <form method="GET" id="specialButton" action='@routes.Application.drawingGame()'>
                            <button class="correct_button">Correct</button>
                        </form>
                    </div>
            </section>
        </div>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/painter.js")"></script>
        <footer id="the_footer">
                Paint'n'Guess team 2016
            <p><a href='@routes.Application.aboutUs()'>About us</a></p>
        </footer>
        </div>
    </body>
</html>