@(rooms: List[Room], teams: List[Team])

<!DOCTYPE html>
<html lang = "en">
    <head>
        <link type = "text/css" rel = "stylesheet" href = @routes.Assets.at("stylesheets/main_flexible.css")>
        <meta charset = "UTF-8">
        <title>Paint'n'Guess draw mode</title>
    </head>
    <body>
		<div id="big_wrapper">
			<header id="top_header">
				<h1>With whom do you want to play?</h1>
			</header>
			<nav id="top_menu">
				<ul>
					<li>
						<a href='@routes.Application.index()'>Home page</a>
					</li>
					<li>
						<a href='@routes.Application.aboutUs()'>About us</a>
					</li>
					<li>
						<a href='@routes.Application.donate()'>Donate</a>
					</li>
					<li>
						<a href='@routes.Application.mode()'>Quit game</a>
					</li>
				</ul>
				<div id="social_login">
					<ul>
						<li>
							<form method="GET" action='@routes.Application.logout()'>
								<button>Log out</button>
							</form>
						</li>
					</ul>
				</div>
			</nav>
			<div id="main_div">
				<section id="main_section">
					<article  class="teams">
					@teams.groupBy(_.room).map {
						case (room, teams) => {
								<header>
									<h3>@room.name</h3>
								</header>
								<ul class="list">
								@teams.map { team =>
									<li data-task-id="@team.id">
										<h4>@team.title</h4>
										@if(team.memberOf != null && team.memberOf.playerName != null) {
											<span class="memberOf">@team.memberOf.playerName</span>
										}
									</li>
								}
								</ul>
						}
					}
					</article>
					<form method="GET" id="specialButton" action='@routes.Application.drawingGame()'>
						<button class="ready_button">Ready</button>
					</form>
				</section>
			</div>


			<footer id="the_footer">
                Paint'n'Guess team 2016
				<p><a href='@routes.Application.aboutUs()'>About us</a></p>
			</footer>
		</div>
    </body>
</html>