<!DOCTYPE html>
<html lang = "en">
    <head>
        <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/main_flexible.css")'>
        <meta charset = "UTF-8">
        <title>Paint'n'Guess</title>
    </head>
    <body>
        <div id="big_wrapper">
            <header id="top_header">
                <h1>Welcome to Paint'n'Guess!</h1>
            </header>
            <nav id="top_menu">
                <ul>
                    <li>
                        <label for="username">Username</label>
                        <input type = "text" id="username" placeholder = "Username">
                        <label for="password">Password</label>
                        <input type = "text" id="password" placeholder = "Password">
                        <button>Log in</button>
                        @*<form action = "@routes.Application.mode()" class = "loginbutton">*@
                        @*<input type = "submit" value = "Log in">*@
                        @*</form>*@
                    </li>
                    <div id="social_login">
                        <ul>
                            <li>
                                <button>Facebook</button>
                                @*<form action = "@routes.Application.mode()" class = "loginbutton">*@
                                @*<input type = "submit" value = "Facebook">*@
                                @*</form>*@
                            </li>
                            <li>
                                <button>Google</button>
                                @*<form action = "@routes.Application.mode()" class = "loginbutton">*@
                                @*<input type = "submit" value = "Google">*@
                                @*</form>*@
                            </li>
                            <li>
                                <button>ID-card</button>
                                @*<form action = "@routes.Application.mode()" class = "loginbutton">*@
                                @*<input type = "submit" value = "ID-card">*@
                                @*</form>*@
                            </li>
                        </ul>
                    </div>
                </ul>
            </nav>
            <div id="main_div">
                <section id="main_section">
                    @*<form method="POST" action="@routes.Application.registerUser()">*@
                <form>
                    <label for="username">Username</label>
                    <input type = "text" id="username" placeholder = "Username"/>
                    <label for="email">E-mail</label>
                    <input type = "text" id="email" placeholder = "E-mail"/>
                    <label for="password">Password</label>
                    <input type = "text" id="password" placeholder = "Password"/>
                    <label for="repeatPassword">Repeat password</label>
                    <input type = "text" id="repeatPassword" placeholder = "Repeat password"/>
                    <button>Sign up</button>
                </form>
                </section>
            </div>
            <footer id="the_footer">
                Paint'n'Guess team 2016
                <p><a href='@routes.Application.aboutUs()'>About us</a></p>
            </footer>
        </div>
    </body>
</html>