<!DOCTYPE html>
<html lang = "en">
    <head>
        <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/main_flexible.css")'>
        <meta charset = "UTF-8">
        <title>Paint'n'Guess</title>
    </head>
    <body>
        <div id="big_wrapper">
            <header id="top_header">
                <h1>Welcome to Paint'n'Guess!</h1>
            </header>
            <nav id="top_menu">
                <ul>
                    <li>
                        <form method="POST" action="@routes.DatabaseController.addUser()">
                            <label for="userName">Username</label>
                            <input type = "text" name="userName" id="userName" placeholder = "Username"/>
                            <button>Log in</button>
                        </form>
                    </li>
                    <div id="social_login">
                        <ul>
                            <li>
                                <button>Facebook</button>
                            </li>
                            <li>
                                <button>Google</button>
                            </li>
                            <li>
                                <button>ID-card</button>
                            </li>
                        </ul>
                    </div>
                </ul>
            </nav>
            <div id="main_div">
                <section id="main_section">
                    <article>
                        <h1>Your advertisement could be here!</h1>
                    </article>
                </section>
            </div>
            <footer id="the_footer">
                Paint'n'Guess team 2016
                <p><a href='@routes.Application.aboutUs()'>About us</a></p>
            </footer>
        </div>
    </body>
</html>