@(gamers: List[Gamer], gamerForm: Form[Gamer])

@import helper._

@main("Todo list") {

    <h1>@gamers.size() gamer(s)</h1>

    <ul>
    @for(gamer <- gamers) {
        <li>
            @gamer.name

            @form(routes.Application.deleteGamer(gamer.id)) {
                <input type="submit" value="Delete">
                }
        </li>
    }
    </ul>

    <h2>Add a new gamer</h2>

    @form(routes.Application.addGamer()) {

        @inputText(gamerForm("name"))

        <input type="submit" value="Create">

    }

}