@(form: Form[Application.Login], players: List[Player], playerForm: Form[Player])

<html>
    <head>
        <title>Log in Paint'n'Guess</title>
        <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/main_flexible.css")'>
        <script src='@routes.Assets.at("javascripts/facebook.js")'></script> 
    </head>
    <body>
        <div id="big_wrapper">
            <header id="top_header">
                <h1>Welcome to Paint'n'Guess!</h1>
            </header>
            <nav id="top_menu">
                <ul>
                    <li>
                        <a href='@routes.Application.index()'>Home page</a>
                    </li>
                    <li>
                        <a href='@routes.Application.aboutUs()'>About us</a>
                    </li>
                    <li>
                        <a href='@routes.Application.donate()'>Donate</a>
                    </li>
                </ul>
                <div id="social_login">
                    <ul>
                   		<li>
                        		<div id="status"></div>
                        </li>
                        <li>
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
								</fb:login-button>
                        </li>
                        <li>
                            <button>Google</button>
                        </li>
                        <li>
                            <button>ID-card</button>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="main_div">
                <section id="main_section">
                    <article>
                        @helper.form(routes.Application.authenticate) {
                            <h1>Sign in</h1>
                            @if(form.hasGlobalErrors) {
                                <p class="error">
                                @form.globalError.message
                                </p>
                            }
                            <p>
                                <input type="name" name="name" placeholder="Username" value="@form("name").value">
                            </p>
                            <p>
                                <input type="password" name="password" placeholder="Password">
                            </p>
                            <p>
                                <button type="submit">Login</button>
                            </p>
                        }
                    </article>
                    <article>
                        <h1>Register</h1>
                        @helper.form(routes.Application.addPlayer) {
                            @if(form.hasGlobalErrors) {
                                <p class="error">
                                @form.globalError.message
                                </p>
                            }
                            <label for="name">Username</label>
                            <input type = "text" name="name" id="name" placeholder = "Username"/>
                            <label for="name">Password</label>
                            <input type = "password" name="password" id="password" placeholder = "Password"/>
                            <input type="submit" id="login_button" value="Sign up">
                        }
                    </article>
                </section>
            </div>
            <footer id="the_footer">
                Paint'n'Guess team 2016
                <p><a href='@routes.Application.aboutUs()'>About us</a></p>
            </footer>
        </div>
    </body>
</html>