<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Paint'n'Guess mode</title>
        <link type = "text/css" rel = "stylesheet" href = '@routes.Assets.at("stylesheets/main_flexible.css")'/>
    </head>
    <body>
        <div id="big_wrapper">
            <header id="top_header">
                <h1>Choose your mode</h1>
            </header>
            <nav id="top_menu">
                <ul>
                    <li>
                        <a href='@routes.Application.index()'>Home page</a>
                    </li>
                    <li>
                        <a href='@routes.Application.aboutUs()'>About us</a>
                    </li>
                    <li>
                        <a href='@routes.Application.donate()'>Donate</a>
                    </li>
                </ul>
                <div id="social_login">
                    <ul>
                        <li>
                            <form method="GET" action='@routes.Application.getGamers()'>
                                <button>Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="main_div">
                <section id="main_section">

                    <article>
                        <button>Drawing</button>
                        @*<form action = @routes.Application.drawing()>*@
                        @*<input type = "submit" value = "Drawing">*@
                        @*</form>*@
                        <p>Choose this option if your playmates are someplace else. Here you explain words to eachother
                            by drawing a picture.</p>
                    </article>
                    <article>
                        <button>Cards</button>
                        @*<form action = @routes.Application.card()>*@
                        @*<input type = "submit" value = "Cards">*@
                        @*</form>*@
                        <p>Choose this option if you wish to play with your friends but don't have a physical game at hand.
                            This mode assumes that all players are together and explain words orally or using body language.</p>
                    </article>

                </section>
            </div>

            <footer id="the_footer">
                Paint'n'Guess team 2016
                <p><a href='@routes.Application.aboutUs()'>About us</a></p>
            </footer>
        </div>
    </body>
</html>